body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

h1 {
    color: #333;
    margin-top: 0;
    text-align: center;
    flex-grow: 1;
}

select, input {
    width: 180px;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #FF4500;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: #FF4500;
    color: white;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #000;
}

th {
    background-color: #FF4500;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    background-color: rgba(255, 69, 0, 0.4);
    padding: 10px;
    text-align: left;
}

.hidden {
    display: none !important;
}


.filtro-adicional {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


.input-field {
    width: 35px;  /* Reducido a 60px para que solo ocupen 4 dígitos */
    padding: 5px;
    text-align: center;
}
label, button {
    font-weight: bold;
}
#orientacion, #tipoSolapa, #medioSobre {
    width: 90px; /* Ajusta el valor según lo que necesites */
    padding: 5px; /* Ajusta el espacio interno */
    font-weight: bold; /* Si quieres que el texto sea en negrita */
    font-size: 12px; /* Ajusta el tamaño de la letra */
}
